services:
  app1:
    build: .
    environment: ...
    depends_on: [db, redis]

  app2:
    build: .
    environment: ...
    depends_on: [db, redis]

  nginx:
    image: nginx:latest
    ports:
      - '8080:8080'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on: [app1, app2]

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: backend_project
    ports:
      - '5432:5432'

  redis:
    image: redis:7
    ports:
      - '6379:6379'
